h1, h2, h3, p {
  font-family: Lato;
}

.app >.wrapper{
 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas: 
    "heading heading"    
    "   roll roll   "
    "   dice dice   " 
    "player1 player2"
    "   hold hold   "
    "    new new    "
  ;
}

.dice{
  grid-area: dice;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 2px;
  font-size: 1.5em;
  font-weight: bold;
  


}
.roll{
  
  grid-area: roll;
  font-size: 1.5em;
}


.player{
  text-align: center;
  border: solid black 2px;
}

.player:nth-child(1){
  grid-area: player1;
}
.player:nth-child(2){
  grid-area: player2;
}

.hold{
  grid-area: hold;
  font-size: 1.5em;
}
.new-game{
  grid-area: new;
  font-size: 1.5em;
}

.playing{
  background-color: lightblue;
}

.main-heading{
  grid-area: heading;
  text-align: center;
  
}

.winner{
  background-color: purple;
  color: white;
}